@model OSBBProject1.Models.Resident

@{
    ViewData["Title"] = "Delete Resident";
}

<h2>Видалити жителя</h2>

<div>
    <h4>Житель</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Номер квартири</dt>
        <dd class="col-sm-10">@Model.FlatNumber</dd>

        <dt class="col-sm-2">Ім'я</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Логін</dt>
        <dd class="col-sm-10">@Model.Login</dd>

        <dt class="col-sm-2">Пароль</dt>
        <dd class="col-sm-10">@Model.Password</dd>

        <dt class="col-sm-2">Кількість жителів</dt>
        <dd class="col-sm-10">@Model.AmountOfResidents</dd>

        <dt class="col-sm-2">Дані про жителів</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Видалити</button>
            <a asp-action="ResidentsList" class="btn btn-secondary">Скасувати</a>
        </div>
    </form>
</div>
